<!DOCTYPE html>
<html lang="es">
	<head>
	  	<meta charset="utf-8">
	  	<title>Whatsapp Web</title>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="shortcut icon" href="static/image/favicon.png" type="image/png">
	  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500" media="all">
	  	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	  	<link href="static/css/icomoon.css" rel="stylesheet">
	  	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	  	<link href="static/css/main.css" rel="stylesheet">
	  	<link href="static/css/queries.css" rel="stylesheet">
	</head>
	<body>
	  	<div class="w-app">
	  		<div class="container">
	  			<aside class="col-md-4 w-contacts">
	  				<header class="w-profile clearfix">
	  					<div class="avatar col-xs-7">
	  						<img src="https://www.etonline.com/sites/default/files/styles/max_1280x720/public/images/2020-04/dwayne-johnson-gettyimages-1187900703.jpg?h=827f73f4&itok=FoRaMfm0" alt="">
                <b id="nombre"><%= user.name %></b>
	  					</div>

	  					<div class="w-chat-controls col-xs-4">
	  						<div class="icon-dots-three-vertical"></div>
	  						<div class="icon-message"></div>
	  					</div>
	  				</header>
	  				<div class="w-search icon-search">
	  					<input type="text" placeholder="Buscar o empezar un chat nuevo" class="w-search-contacts">
	  				</div>
	  				<ul class="w-recent-chats">
	  					<li>
		  					<div class="avatar">
		  						<img src="static/image/logocodeacademy.png" alt="" class="wh-44">
		  						<h4 class="w-contact-name">Coding Dojo Chile</h4>
		  						<p class="w-last-message" id="mensaje">No se pique!!</p>
		  					</div>
							<div class="time" id="hora">14:27</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/karoldance.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Karol Lucero</h4>
	  							<p class="w-last-message">La clase va bien!</p>
	  						</div>
	  						<div class="time">11:25</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/madame-gil.jpeg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Madame Gil</h4>
	  							<p class="w-last-message">Mi quesitos están buenazos</p>
	  						</div>
							<div class="time">09:25</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/anamaria.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Ana María Gazmuri</h4>
	  							<p class="w-last-message">Hay mano?</p>
	  						</div>
	  						<div class="time">Ayer</div>
	  					</li>
	  					<li>
	  						<div class="avatar"> 
	  							<img src="static/image/checho.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Checho Hirane</h4>
	  							<p class="w-last-message">¿Cómo van las chicas?</p>
	  						</div>
	  						<div class="time">Martes</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/cordero.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Doctora Cordero</h4>
	  							<p class="w-last-message">Hoy me toca clases de canto, yee!</p>
	  						</div>
	  						<div class="time">Lunes</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/sarah.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Sarah Connor</h4>
	  							<p class="w-last-message">I love ths s**t!</p>
	  						</div>
	  						<div class="time">13/01/2016</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/papa.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Papá</h4>
	  							<p class="w-last-message">No te preocupes, tengo el salón bajo control</p>
	  						</div>
	  						<div class="time">11/01/2016</div>
	  					</li>
	  					<li>
	  						<div class="avatar">
	  							<img src="static/image/nano-calderon.jpg" alt="" class="wh-44">
	  							<h4 class="w-contact-name">Nano Calderón</h4>
	  							<p class="w-last-message">Te voa matar</p>
	  						</div>
	  						<div class="time">03/01/2016</div>
	  					</li>	 					
	  				</ul>
	  			</aside>
	  			<section class="col-md-8 w-contacts w-messages">
	  				<header class="w-chat-messages clearfix">
	  					<div class="avatar col-xs-9 w-chat-profile">
	  						<img src="static/image/umbrella.png" alt="">
	  						<h4 class="w-contact-name">Umbrella Corp</h4>
	  						<ul class="w-users-messages">
	  							<li>Jason, </li>
	  							<li>Kimberly, </li>
	  							<li>Trini, </li>
	  							<li>Zack, </li>
	  							<li>Billy, </li>
	  							<li>Tú</li>
	  						</ul>
	  					</div>
	  					<div class="w-chat-controls col-xs-2">
	  						<div class="icon-attachment"></div>

	  						<div class="icon-dots-three-vertical"></div>
	  					</div>
	  				</header>
	  				<section class="w-chat-panel">
	  					<div class="w-message-list clearfix" id="chat">
								<% for (let message of messages) { %>

									<% if (message.UserId == user.id ) { %>
										<div class="w-message w-message-out">
											<div class="w-message-text">
												<p><%= message.text %></p>
												<div class="time"><%= message.time %></div>
											</div>
										</div>
									<% } else { %>
										<div class="w-message w-message-in">
											<div class="w-message-text">
												<h5 class="blue-1"><%= message.User.name %></h5>
												<p><%= message.text %></p>
												<div class="time"><%= message.time %></div>
											</div>
										</div>
									<% } %>
								<% } %>
									<!--
	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="blue-1">Andrea Lamas</h5>
	  								<p>Chicos han visto el nuevo corte de Aldo?</p>
	  								<div class="time">11:12</div>
	  							</div>
	  						</div>
	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="pink-1">Mariana Costa</h5>
	  								<p>¿Finalmente se corto?</p>
	  								<div class="time">11:13</div>
	  							</div>
	  						</div>
	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="green-1">Maria Paula Rivarola</h5>
	  								<p>Jajaja Sii finalmente se corto!!</p>
	  								<div class="time">11:13</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-out">
	  							<div class="w-message-text">
	  								<p>Antes parecia mufasa jajajaja</p>
	  								<div class="time">11:14</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-out">
	  							<div class="w-message-text">
	  								<p>Ahora si esta decente</p>
	  								<div class="time">11:18</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="blue-1">Andrea Lamas</h5>
	  								<p>¿Por qué se lo habrá cortado?</p>
	  								<div class="time">11:20</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="yellow-1">Aldo Alfaro</h5>
	  								<p>Ya ya ya, hacia mucho calor que más</p>
	  								<div class="time">11:25</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="blue-1">Andrea Lamas</h5>
	  								<p>Esta siguiendo los pasos de Juan Diego!</p>
	  								<div class="time">11:30</div>
	  							</div>
	  						</div>
	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="green-1">Maria Paula Rivarola</h5>
	  								<p>Nunca!!! Juan Diego es único</p>
	  								<div class="time">11:31</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-out">
	  							<div class="w-message-text">
	  								<p>Jajajaja</p>
	  								<div class="time">11:32</div>
	  							</div>
	  						</div>

	  						<div class="w-message w-message-in">
	  							<div class="w-message-text">
	  								<h5 class="yellow-1">Aldo Alfaro</h5>
	  								<p>Dale dale!</p>
	  								<div class="time">14:25</div>
	  							</div>
	  						</div>
	  						<div class="w-message w-message-out">
	  							<div class="w-message-text">
	  								<p>Jajaja</p>
	  								<div class="time">14:26</div>
	  							</div>
	  						</div>
	  						<div class="w-message w-message-out">
	  							<div class="w-message-text">
	  								<p>No se pique!!</p>
	  								<div class="time">14:27</div>
	  							</div>
	  						</div>
	  						<div id="conversacion">
	  							
	  						</div>  		
                -->					  						
	  					</div>
	  				</section>

	  				<footer id="message-form" class="pane-footer w-write-message-footer">
	  					<ul class="w-write-message-list clearfix">
	  						<li class="col-xs-1 w-write-message-item icon-insert_emoticon w-write-message-icon"></li>
	  						<li class="col-xs-10 w-write-message-item w-write-message-input">
	  							<input required="required" type="text" name="w-message-input" class="w-write-message-field" placeholder="Escribe tu mensaje aquí" id="mensajes">
	  						</li>
	  						<li id="message-submit" class="col-xs-1 w-write-message-item icon-mic w-write-message-icon"></li>
	  					</ul>
	  				</footer>
	  			</section>
	  		</div>
	  	</div>
		<script type="text/javascript" src="static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="static/js/moment-with-locales.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:8000");

			$('#mensajes').keyup(function(ev) {
				if (ev.keyCode == 13) {
					$('#message-submit').trigger('click');
				}
			});

      $('#message-submit').on('click', ()=>{
        const mensajes = $('#mensajes').val();
        const hora = moment().format('hh:mm');
        
        if (mensajes == '') {
          alert('El mensaje no puede ser vacio');
          return;
        }

        // Dibujarlo en el DOM
        $('#chat').append(`
          <div class="w-message w-message-out">
            <div class="w-message-text">
              <p>${mensajes}</p>
              <div class="time">${hora}</div>
            </div>
          </div>
        `);
        // Mandar un socket
        const datos = {
          text: mensajes,
          time: hora,
          user: '<%=user.name%>',
					UserId: <%=user.id%>
        }
        socket.emit('message', datos)

        // limpiar el input
        $('#mensajes').val('');

				// guardar el mensaje en la base de datos
				$.post("/message", datos);
      });


      socket.on('messageIn', function(data) {
        $('#chat').append(`
          <div class="w-message w-message-in">
            <div class="w-message-text">
              <h5 class="yellow-1">${data.user}</h5>
              <p>${data.text}</p>
              <div class="time">${data.time}</div>
            </div>
          </div>
        `);
      })
    </script>
	</body>
</html>